
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3E4462;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(149, 35, 35, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    position: fixed; 
    width: 100%; 
    top: 0px;
  }
  
.logo img  {
    max-width: 100%;
    height: auto;
    width: 2.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
  
nav li {
    margin-right: 40px;
}
  
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
     
}

@media (max-width: 300px) {
    header {
        display: flex;
        justify-content: space-around;
        padding-right: 10px;
    }
    nav li {
        margin-right: 10px;
        
    }
    nav a {
        font-size: 10px;

    }
    
}

nav a:hover{
    color: rgb(207, 83, 83);    
     
}
nav a:active {
    color: rgb(94, 128, 198);
}
 

 
.Bienvenida{
    background-image: linear-gradient(45deg, rgba(135, 77, 162, 0.224) 0%, rgba(196, 58, 48, 0.635) 100%);
    width: 100%;
    height: 650px;
    padding-top: 8px;
}

.texto1 {
    height: 400px;
    color: rgba(255, 255, 255, 0.473);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}   

.Productos {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 20px 0 40px 0;

}

.texto5{
    padding: 20px;
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 102, 102, 0.053);
}

.texto5 h2 {
    font-size: 34px; 
    color: rgba(10, 10, 10, 0.719); 
    
}

.Articulos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0 20px 0%;
}



.taza1 {
    background-image: url("/FRONT/img/img_landing/taza\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 100%;
    padding: 20px 0 30% 0;

}

.remera1 {
    background-image: url("/FRONT/img/img_landing/remera\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 100%;
    padding: 20px 0 30% 0;

}

.libreta {
    background-image: url("/FRONT/img/img_landing/reloj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 100%;
    padding: 20px 0 30% 0;

}

.bolso1 {
    background-image: url("/FRONT/img/img_landing/bolso\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 100%;
    padding: 20px 0 30% 0;

}

.Articulos h3 {
    padding-left: 0px;

}

.Articulos h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0 20px 0 0; 
    transition: background-color 0.3s, color 0.3s; 
    padding: 10px; 
    border-radius: 20%; 
    width: 90px; 
    height: 40px;
    background-color: #f00c0c3a; 
    color: #000; 
    justify-content: center;
}

.Articulos h3:hover {
    background-color: #1da1f2; 
    color: #fff;
}

.Clientes{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 20px 0 40px 0;
}

.Opiniones{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0 40px 0;
    height: 100%;
}

.Opiniones h3{
    padding: 20px 0 40px 0;
}

.texto2{
    width: 30%;
    text-align: left;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    padding: 20px 0 40px 0;
    background-color: rgba(103, 30, 30, 0.361);
}

.texto2 p,
.texto2 h3 {
    margin-left: 2%;
}

.OtraClase {
    background-color: rgba(224, 224, 224, 0.386);
    padding: 10px;
    margin-top: 50px;
    text-align: right;
    border-radius: 10px;
}

.texto4{
    padding: 20px 20px 40px 20px; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    background-color: rgba(248, 102, 102, 0.053);

}

.texto4 h2 {
    font-size: 34px; 
    color: rgba(10, 10, 10, 0.719); 
}

.texto4 h3 {
    font-size: 24px; 
    color:  rgba(224, 224, 224, 0.386);
    margin-top: 10px; 
}

.Spacer {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

